@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* =====  Scrollbar ===== */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(122, 106, 83, 0.35); /* soft theme brown */
  border-radius: 999px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(122, 106, 83, 0.7);
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(122, 106, 83, 0.35) transparent;
}
